.footer-title-background {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10rem;
  font-weight: 800; /* font-extrabold equivalent */
  
  background: linear-gradient(to top, rgb(250, 238, 2) 0%, rgb(14, 12, 0) 100%, #ff0 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
  opacity: 0.2; /* Adjust for better subtlety */
  pointer-events: none;
  user-select: none;
  z-index: 0;
}


@media (max-width: 768px) {
  .footer-title-background {
    font-size: 4rem;
    
  }
}

