
body {
  margin: 0;
  font-family: 'Arial', sans-serif; /* Use a generic font family for better compatibility */
  color: #1f1e1e; /* white text for contrast */
  display: flex;
  background: linear-gradient(to bottom, #454545, #000000); 
  flex-direction: column;
  justify-content: space-between; /* space out header and footer */
  min-height: 100vh; /* ensure full screen height */
}

.gradient-bg {
  background: linear-gradient(to bottom, #000000, #000000); /* black to dark gray */
  min-height: 100vh; /* ensure full screen height */
}
