.fancy-glow-btn {
  border-image-slice: 1;
  border-image-source: linear-gradient(7deg, #009cff 50%, #522ef4 65%, #9537e3 80%);
}

.fancy-glow-btn::before {
  content: '';
  position: absolute;
  bottom: -100%;
  left: -400%;
  width: 300%;
  height: 300%;
  background: white;
  transform: rotate(45deg);
  transition: all 0.9s ease;
  z-index: -1;
  opacity: 0;
}

.fancy-glow-btn:hover::before {
  bottom: -50%;
  left: -50%;
  opacity: 1;
}
